.timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    left: 20.12%;
    right: 70.38%;
    top: 8.44%;
    bottom: 82.59%;
    border-radius: 70px;
    /* margin-top: 60px; */
    border-radius: 100px;
    background: #F4E3E3;
    min-height: 20px;
    min-width: 190px;
    padding: 20px;
    box-sizing: border-box;
}

.timer-container img {
    width: 25px;
    margin-right: 10px;
}

.timer-container h1 {
    font-size: 1.5rem;
    margin: 0;
}